<mat-card class="card mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>HelpDesk</mat-card-title>
        <mat-card-subtitle>Introdução</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="Foto de um Shiba Inu">
    <mat-card-content>
        <p>
            Olá! Bem-vindo ao sistema de Help Desk que desenvolvi durante o curso de Desenvolvedor Full Stack.<br />
            Este é um sistema de gerenciamento de chamados, simulando um Help Desk simples criado com Angular 12 e
            Spring Boot.<br />
            O projeto tem como objetivo principal abordar conceitos como Single Page Applications (SPAs), Autenticação e
            Autorização com Tokens JWT, e muito mais.<br />
            O código-fonte do projeto pode ser encontrado no Github, basta clicar no link no menu lateral.<br /><br />
            Sinta-se à vontade para testar o sistema e deixar suas sugestões.<br />
        </p>
    </mat-card-content>
</mat-card>