<mat-card class="card mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>HelpDesk</mat-card-title>
        <mat-card-subtitle>Introdução</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="Foto de um Shiba Inu">
    <mat-card-content>
        <p>
            Olá! Dê as boas-vindas ao nosso inovador Sistema de Help Desk, desenvolvido como parte do meu percurso como Desenvolvedor Full Stack.<br />
            Este é um avançado sistema de gerenciamento de chamados, criado com as mais recentes tecnologias, incluindo Angular 12 e
            Spring Boot.<br />
            O principal propósito deste projeto é explorar conceitos essenciais como Single Page Applications (SPAs), Autenticação e
            Autorização através de Tokens JWT, entre outros.<br />
            Você pode acessar o código-fonte do projeto no Github; basta clicar no link fornecido no menu lateral.<br /><br />
            Convidamos você a experimentar o sistema e compartilhar suas valiosas sugestões.<br />
        </p>
    </mat-card-content>
</mat-card>