.card{
    width: 90%;
    margin: 1rem auto;
    background-color: rgb(235, 235, 235);
}
img{
    height: 15rem;
}

p{
  margin: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  line-height: 1.5rem;   
}