<div class="container mat-elevation-z8">
    <form class="form">
        <header>
            <h1 class="fullWidth">Deletar Técnico</h1>
            <img class="fullWidth" src="assets/img/tecnico-create.svg"
                alt="Imagem ilustrativa de formulário de criação de técnico">
        </header>

        <fieldset>
            <legend>Perfis de Usuário</legend>
            <section>
                <mat-checkbox [disabled]="true" color="primary" aria-label="Perfil Admin">Admin</mat-checkbox>
                <mat-checkbox [disabled]="true" color="primary" aria-label="Perfil Cliente">Cliente</mat-checkbox>
                <mat-checkbox [disabled]="true" color="primary" aria-label="Perfil Técnico">Técnico</mat-checkbox>
            </section>
        </fieldset>

        <fieldset>
            <legend>Informações Pessoais</legend>
            <mat-form-field class="fullWidth" appearance="fill">
                <mat-label>Nome</mat-label>
                <input [(ngModel)]="tecnico.nome" name="nome" [disabled]="true" matInput aria-label="Nome">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>

            <mat-form-field class="fullWidth" appearance="fill">
                <mat-label>CPF</mat-label>
                <input [(ngModel)]="tecnico.cpf" name="cpf" [disabled]="true" matInput aria-label="CPF">
                <mat-icon matSuffix>pin</mat-icon>
            </mat-form-field>

            <mat-form-field class="fullWidth" appearance="fill">
                <mat-label>Email</mat-label>
                <input [(ngModel)]="tecnico.email" name="email" [disabled]="true" matInput aria-label="Email">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field class="fullWidth" appearance="fill">
                <mat-label>Senha</mat-label>
                <input [(ngModel)]="tecnico.senha" name="senha" [disabled]="true" matInput type="password"
                    aria-label="Senha">
                <mat-icon matSuffix>password</mat-icon>
            </mat-form-field>
        </fieldset>

        <footer>
            <button (click)="delete()" class="fullWidth mat-elevation-z4" mat-flat-button color="primary"
                aria-label="Deletar Técnico">Deletar</button>
            <button routerLink="../../" class="fullWidth mat-elevation-z4" mat-stroked-button color="warn"
                aria-label="Cancelar">Cancelar</button>
        </footer>
    </form>
    <p class="fullWidth">By Gabriel Souza</p>
</div>